{% extends "quiz_base.html" %}

{% block quiz_content %}
<div class="row">
    <div class="span11">
        <form method="post" action="{{ action }}" class="form-stacked">
            <ol class="questions">
                {% for question in questions %}
                <li class="question">
                    <h3>{{ question.prompt }}</h3>
                    
                    <ul class="answers">
                        {% for choice in question.choices %}
                        <li>
                            {{ choice }}
                            
                            {% ifequal forloop.counter responses|resolve:question.id %}
                            {% ifequal forloop.counter question.correct %}
                            <span class="label success">Correct</span>
                            {% else %}
                            <span class="label important">Incorrect</span>
                            {% endifequal %}
                            {% endifequal %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ol>
        </form>
    </div>
    
    <div class="span5">
        <h1>{{ attempt.percentage }}%</h1>
        
        <div class="alert-message block-message info">
            {{ quiz_snapshot.prompt }}
        </div>
    </div>
</div>
{% endblock %}