{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Profile</h1>
</div>

<div class="row">
    <div class="span4 columns"><p>{{prompt}}</p></div>
    <div class="span12 columns">
        <form method="post" action="{{action}}">
            {{form.non_field_errors}}
            
            <div class="clearfix">
                {{form.first_name.errors}}
                <label for="id_first_name">First name</label>
                <div class="input">{{form.first_name}}</div>
            </div>
            
            <div class="clearfix">
                {{form.last_name.errors}}
                <label for="id_last_name">Last name</label>
                <div class="input">{{form.last_name}}</div>
            </div>
            
            <div class="actions">
                <input type="submit" class="btn primary" value="Save Changes" />
            </div>
        </form>
    </div>
</div>
{% endblock %}