/* -----------------------------------------------------------------------------
   Type
   -------------------------------------------------------------------------- */

body, h1 a, h2 a, h3 a  {
    color: #666;
}

a {
    text-decoration: none;
    color: #0052FF;
}

h1 {
    font-size: 2em;
    font-family: Georgia, sans-serif;
    font-style: italic;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0.8em 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 1.2em;
}

p {
    margin-bottom: 1em;
   
}

p.message {
    color: #4A5C12;
    background: url(../../assets/green-minor.png);
    padding: 1em;
}

p.error {
    background: #FFD5CA url(../../assets/error.png);
    color: #7F1900;
    padding: 1em;
}

/* -----------------------------------------------------------------------------
   Header
   -------------------------------------------------------------------------- */

#header {
    padding: 1.5em 0;
}

    #header .version {
        font-size: 0.375em;
        font-family: Verdana, sans-serif;
        vertical-align: top;
        font-style: normal;
        color: #999;
    }

#nav {}

    #nav li {
        padding-bottom: 6px;                    /* Beware -- here be dragons. */
        margin-left: 0.3em;
    }
    
        #nav li a {
            font-size: 0.875em;                                       /* 14px */
            padding: 0.5em 0.8em;
            display: block;
            color: #666;
        }
    
    #nav li.selected {
        background: transparent url(../../assets/callout.png) center bottom no-repeat;
    }
    
        #nav li.selected a {
            color: #fff;
            background: #666;
        }

/* -----------------------------------------------------------------------------
   Dividers
   -------------------------------------------------------------------------- */

hr {
    background: #ccc url(../../assets/line.png);
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

/* -----------------------------------------------------------------------------
   Content
   -------------------------------------------------------------------------- */

#content {
    padding: 2em 0;
}

/* -----------------------------------------------------------------------------
   Content Management Toolbar
   -------------------------------------------------------------------------- */

.toolbar {
    padding: 0 0 1em 0;
    overflow: auto;
}

/* -----------------------------------------------------------------------------
   Sidebar
   -------------------------------------------------------------------------- */

.block-row {
    padding: 0 0 1em 0;
}

/* -----------------------------------------------------------------------------
   Quiz Entry
   -------------------------------------------------------------------------- */

.quiz {
    overflow: auto;
    margin: 0 0 1em 0;
}

    .take {
        width: 13%;
        float: right;
        background: #666;
    }
    
        .take .tries {
            font-size: 1.5em;
            padding: 0.5em 0 0;
            text-align: center;
            color: #fff;
            font-family: Georgia, serif;
        }
        
        .take .tries-label {
            color: #fff;
            text-transform: uppercase;
            font-size: 0.75em;
            padding: 0.75em 0 1.3em;
            text-align: center;
        }
    
    .info {
        margin: 0 15% 0  0;
    }

/* -----------------------------------------------------------------------------
   Forms
   -------------------------------------------------------------------------- */

.field {
    margin: 0 0 1em 0;
}

    label {
        display: block;
        padding: 0 0 0.25em 0;
        color: #999;
    }
    
    .field:hover label {
        color: #6c6c6c;
    }
    
    input, textarea {
        background: #e9e9e9;
        border: 0;
        color: #6c6c6c;
        font-size: 0.875em;
        padding: 0.5em 2%;
        display: block;
        width: 96%;
        max-width: 96%;
        min-width: 96%;
    }
    
    textarea {
        height: 5em;
    }
    
    input.title {
        font-family: Georgia, serif;
        font-size: 1.125em !important;
    }
    
    .button {
        background: #6699FF url(../../assets/submit.png) !important;
        font-size: 1.125em !important;
        color: #fff;
        font-family: Georgia, serif;
        text-shadow: #0053FF 1px 1px 0;
        cursor: pointer;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    
        .button.go {
            background: url(../../assets/green-major.png) !important;
            text-shadow: none;
            color: #4A5C12;
        }
    
    .micro {
        font-family: Georgia, serif;
        font-size: 0.75em;
        padding: 0.8em;
    }
    
        a.micro:hover {
            color: #fff;
            background: #777;
        }
    
    a.button {
        padding: 0.5em 0 0.45em;
    }
    
    .confirm .button {
        float: left;
        margin-right: 0.4em;
    }
    
    .confirm .cancel {
        padding: 0.7em 0 0 0;
    }
    
    .partial-width {
        width: 22.91667% !important;
        min-width: 22.91667% !important;
    }
    
    .toolbar-action {
        float: right;
    }
    
    .inline-field {}
    
        .inline-field input {
            float: left;
            padding: 0.5em;
            width: 1.2em;
            min-width: 1.2em;
            text-align: center;
        }
    
        .inline-field .checkbox-field, .inline-field .radio-field {
            padding: 0.5em;
            float: left;
            background: #e9e9e9;
        }
        
            .inline-field .checkbox-field input,
            .inline-field .radio-field input {
                width: 1em;
            }
        
        .inline-field label {
            padding: 0.35em 0;
            margin: 0 0 0 2.5em;
        }
        
        .inline-field.linked {
            margin-left: 1em;
        }